/* media queries for repsonsive app */
@media only screen and (max-width: 500px){
    div.address p{
        text-align: center;
    }
    .mobile-menu .menu{
        display: block;
    }
    .mobile-menu {
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #a61206;
    }
    .mobile-menu .menu i{
        color: white;
        margin-right: 15px;
        border: 2px solid white;
        padding: 8px;
    }
    
    nav.site-nav ul{
        text-align: center;
    }
    nav.site-nav ul li{
        width: 100%;
        display: inline-block;
    }

    .box-information  .box{
        width: 50%;
        float: left;
        text-align: center;
    }

   
    .box-information  .box:nth-child(2){
        padding-bottom: 32px;
    }

    .box-information  .box:nth-child(3){
        width: 100%;
    }

    
}


@media only screen and (min-width: 768px) {
    div.logo{
        text-align: left;
    }
    header.site-header .container{
        position: relative;
    }
    
    .site-header .social-information{
        position: absolute;
        right: 0;
        top: 0;
    }
    div.address{
display: block;
    clear: both;
    padding-top: 10px;
    }
    div.address p{
        font-size: 14px;
        text-align: center;
    }


 


}

@media only screen and (min-width: 992px){
    div.logo{
        text-align: center;
    }
}

